<%= form_for @task do |t| %>
	<center>
		<%= project_id_field(@task) %>
		<br/>
		<%= label_tag(:task_name) %>
		<%= t.text_field :task_name, :placeholder => :task_name, :class => 'field' %>
		<br/>
		<%= label_tag(:status) %>
		<%= t.select :status, options_for_select(["Open", "In Progress", "Closed"]), :class => 'field' %>
		<br/>
		<%= label_tag(:start_date) %>
		<%= t.date_select(:start_date, :order => [:month, :day, :year]) %>
		<br/>
		<%= label_tag(:end_date) %>
		<%= t.date_select(:end_date, :order => [:month, :day, :year]) %>
		<br/>
		<br/>
		<div class="field">
			<%= label_tag(:complete) %>
			<%= t.check_box :complete, :placeholder => :complete, :style => "float: left" %>
		</div>
		<%= t.submit 'Save', :class => 'button' %>
	</center>
<% end %>