<h1><%= link_to "#{t.task_name.capitalize}", "/tasks/#{t.id}", :class => "navigateToRecord" %></h1>
<p><em>Task Name: </em><%= t.task_name %></p>
<p><em>Project Name: </em><%= t.project.project_name %></p>
<p><em>Start Date: </em><%= t.start_date %></p>
<p><em>End Date: </em><%= t.end_date %></p>
<hr/>