<div class="partial" style="height: 38rem; overflow: scroll">
	<% @contacts.each do |c| %>
		<p>First Name: <%= c.first_name %></p>
		<p>Last Name: <%= c.last_name %></p>
		<p>Phone Number: <%= c.phone_number %></p>
		<p>Email: <%= c.email %></p>

		<p>User Id: <%= c.user_id %></p>
		<hr/>
	<% end %>
</div>