<center>
	<%= link_to "Back", contact_path, :class => "button" %>
	<br/>
	<hr/>
	<br/>
	<div>
		<%= form_for @contact, controller: 'contacts', action: 'update' do |c| %>
			<h1>Edit Contact: <%= @contact.first_name %></h1>
			<%= c.collection_select :account_id, Account.all, :id, :name %>
			<br/>
			<%= c.text_field :first_name, :placholder => :first_name, :class => "field" %>
			<br/>
			<%= c.text_field :last_name, :placholder => :last_name, :class => "field" %>
			<br/>
			<%= c.text_field :phone_number, :placholder => :phone_number, :class => "field" %>
			<br/>
			<%= c.text_field :email, :placholder => :email, :class => "field" %>
			<br/>
			<%= submit_tag "Update", class: "button" %>
		<% end %>
	</div>
</center>