<div class="indexContainer">
	<div class="indexTitle">
		<center>
			<h1>My Contacts</h1>
			<hr/>
		</center>
		<%= render 'form'%>
	</div>

	<div class="indexNewForm">
		<%= form_for @contact, controller: 'contacts', action: 'create' do |c| %>
			<center>
				<h1>New Contact</h1>
				<hr/>
				<%= c.text_field :first_name, :placeholder => :first_name, :class => 'field' %>
				<br/>
				<%= c.text_field :last_name, :placeholder => :last_name, :class => 'field' %>
				<br/>
				<%= c.number_field :phone_number, :placeholder => 'Phone Number', :class => 'field' %>
				<br/>
				<%= c.text_field :email, :placeholder => 'Email', :class => 'field' %>
				<br/>
				<%= c.submit 'Save', :class => 'button' %>
			</center>
		<% end %>
	</div>
</div>