<center>
	<%= form_for @contact, controller: 'contacts', action: 'create' do |c| %>
		<h1>New Contact</h1>
		<%= c.label :first_name %>
		<%= c.text_field :first_name, :class => 'field' %>
		<br/>
		<%= c.label :last_name %>
		<%= c.text_field :last_name, :class => 'field' %>
		<br/>
		<%= c.label :phone_number %>
		<%= c.number_field :phone_number, :class => 'field' %>
		<br/>
		<%= c.label :email %>
		<%= c.text_field :email, :class => 'field' %>
		<br/>
		<%= c.submit 'Save', :class => 'button' %>
	<% end %>
</center>