<center>
	<%= form_for @contact, controller: 'contacts', action: 'create' do |f| %>
		<h1>New Contact</h1>
		<%= f.label :first_name %>
		<%= f.text_field :first_name, :class => 'field' %>
		<br/>
		<%= f.label :last_name %>
		<%= f.text_field :last_name, :class => 'field' %>
		<br/>
		<%= f.label :phone_number %>
		<%= f.number_field :phone_number, :class => 'field' %>
		<br/>
		<%= f.label :email %>
		<%= f.text_field :email, :class => 'field' %>
		<br/>
		<%= f.submit 'Save', :class => 'button' %>
	<% end %>

	<%= form_tag contacts_path do %>
		<label>Post title:</label><br>
		<%= text_field_tag :first_name %><br>

	
		<%= submit_tag "Submit Post" %>
	<% end %>

</center>