<center>
	<h1 class="showTitle">Contact for <%= @contact.first_name%></h1>
	<hr/>
	<h1><em>First Name: </em><%= @contact.first_name %></h1>
	<h1><em>Last Name: </em><%= @contact.last_name %></h1>
	<h1><em>Phone Number: </em><%= @contact.phone_number %></h1>
	<h1><em>Email: </em><%= @contact.email %></h1>
</center>
