<center>
	<div>
		<%= link_to "Edit", "#{@contact.id}/edit", :class => "button" %>
		<%= link_to "Delete", @contact, method: :delete, data: { confirm: "Are you sure you want to delete contact: #{@contact.first_name}?" }, :class => "button" %>
		<h1 class="showTitle" style="margin-right: 25%">Contact for: <%= @contact.first_name%></h1>
	</div>
	<hr/>
	<h1><em>First Name: </em><%= @contact.first_name %></h1>
	<h1><em>Last Name: </em><%= @contact.last_name %></h1>
	<h1><em>Phone Number: </em><%= @contact.phone_number %></h1>
	<h1><em>Email: </em><%= @contact.email %></h1>
</center>
