<%= form_for @project do |p| %>
	<center>
		<%= account_id_field(@project) %>
		<br/>
		<%= label_tag(:project_name) %>
		<%= p.text_field :project_name, :placeholder => :project_name, :class => 'field' %>
		<br/>
		<%= label_tag(:owner) %>
		<%= p.collection_select :owner, User.all, :id, :username %>
		<br/>
		<div class="field">
			<%= label_tag(:complete) %>
			<%= p.check_box :complete, :placeholder => :complete, :style => 'float: left' %>
		</div>
		<%= p.submit 'Save', :class => 'button' %>
	</center>
<% end %>