<!DOCTYPE html>
<html>
  <head>
    <title>Rails Address Book</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="masterOuter">
      <% if logged_in? %>
        <div class="navigationBar">
          <%= link_to "Home", "/", :class => 'navButton' %>
          <%= link_to "My Contacts", "/contacts", :class => 'navButton' %>
          <%= link_to "New Contact", "/contacts/new", :class => 'navButton' %>
          <%= link_to "My Profile", "/users/show", :class => 'navButton' %>
          <%= link_to "Log Out", "/logout", :class => 'navButton' %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
