<h1><%= link_to a.name.capitalize, account_path(a.id), :class => 'navigateToRecord' %></h1>
<p><em>Name: </em><%= a.name %></p>
<p><em>Phone Number: </em><%= a.phone_number %></p>
<p><em>Active: </em><%= check_box_tag 'Active', a.active, a.active, disabled: true %></p>
<p><em>Type: </em><%= a.account_type %></p>
<p><em>Contacts Roll-up: </em><%= a.contacts.length %></p>
<hr/>